body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-1px;
  top:95px;
  width:801px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:784px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:801px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:400px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:400px;
}
#u4 {
  position:absolute;
  left:2px;
  top:192px;
  width:136px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:150px;
  top:110px;
  width:294px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:126px;
  width:660px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:70px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:160px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:150px;
  top:210px;
  width:645px;
  height:224px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:91px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:171px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:259px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:364px;
  top:0px;
  width:103px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:467px;
  top:0px;
  width:173px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:30px;
  width:91px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:91px;
  top:30px;
  width:80px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:171px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:259px;
  top:30px;
  width:105px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:364px;
  top:30px;
  width:103px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:467px;
  top:30px;
  width:173px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:60px;
  width:91px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:91px;
  top:60px;
  width:80px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:171px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:259px;
  top:60px;
  width:105px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:364px;
  top:60px;
  width:103px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:467px;
  top:60px;
  width:173px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:90px;
  width:91px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:91px;
  top:90px;
  width:80px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:171px;
  top:90px;
  width:88px;
  height:30px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:259px;
  top:90px;
  width:105px;
  height:30px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:364px;
  top:90px;
  width:103px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:467px;
  top:90px;
  width:173px;
  height:30px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:120px;
  width:91px;
  height:30px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:91px;
  top:120px;
  width:80px;
  height:30px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:171px;
  top:120px;
  width:88px;
  height:30px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:259px;
  top:120px;
  width:105px;
  height:30px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:364px;
  top:120px;
  width:103px;
  height:30px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:467px;
  top:120px;
  width:173px;
  height:30px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:150px;
  width:91px;
  height:30px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:91px;
  top:150px;
  width:80px;
  height:30px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:171px;
  top:150px;
  width:88px;
  height:30px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:259px;
  top:150px;
  width:105px;
  height:30px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:364px;
  top:150px;
  width:103px;
  height:30px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:467px;
  top:150px;
  width:173px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:180px;
  width:91px;
  height:39px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:91px;
  top:180px;
  width:80px;
  height:39px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:171px;
  top:180px;
  width:88px;
  height:39px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:39px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:259px;
  top:180px;
  width:105px;
  height:39px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u91 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:364px;
  top:180px;
  width:103px;
  height:39px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:467px;
  top:180px;
  width:173px;
  height:39px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:39px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:659px;
  top:250px;
  width:27px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:709px;
  top:250px;
  width:27px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:193px;
  top:550px;
  width:487px;
  height:170px;
  font-size:16px;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:170px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:483px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:532px;
  top:245px;
  width:74px;
  height:21px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:532px;
  top:245px;
  width:48px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:430px;
  top:245px;
  width:70px;
  height:21px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:430px;
  top:276px;
  width:70px;
  height:21px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:175px;
  top:100px;
  visibility:hidden;
}
#u110_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:385px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:385px;
}
#u112 {
  position:absolute;
  left:2px;
  top:184px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:18px;
  top:15px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:43px;
  top:78px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:123px;
  top:74px;
  width:237px;
  height:25px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u118 {
  position:absolute;
  left:43px;
  top:121px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:123px;
  top:118px;
  width:237px;
  height:22px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u120_input:disabled {
  color:grayText;
}
#u121 {
  position:absolute;
  left:43px;
  top:164px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:123px;
  top:160px;
  width:237px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124 {
  position:absolute;
  left:75px;
  top:204px;
  width:33px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:123px;
  top:204px;
  width:120px;
  height:80px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
}
#u127 {
  position:absolute;
  left:2px;
  top:32px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:253px;
  top:204px;
  width:107px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u129 {
  position:absolute;
  left:200px;
  top:330px;
  width:100px;
  height:25px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u130 {
  position:absolute;
  left:320px;
  top:330px;
  width:100px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
