body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-1px;
  top:95px;
  width:801px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:784px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:801px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:400px;
  font-family:'', '', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:400px;
}
#u4 {
  position:absolute;
  left:2px;
  top:192px;
  width:136px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:150px;
  top:110px;
  width:294px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:126px;
  width:660px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:70px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:141px;
  top:133px;
  width:1080px;
  height:380px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:380px;
}
#u11 {
  position:absolute;
  left:2px;
  top:182px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
