body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:46px;
  width:660px;
  height:430px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:430px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:656px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:107px;
  width:600px;
  height:355px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:355px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:464px;
  width:21px;
  height:37px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
